.btn-title {
    margin-bottom: 0px;
    margin-top: 10px;
}

.btn-options {
    padding: 15px;
    background-color: #ecedf0;
    color: #4c4c4c;
    border: 1px solid #c3c3c3;
    width: 100px;
}

.btn-categoria,
.btn-categoria:focus {
    color: #47a447;
    border-color: #47a447;
}

.btn-despesa,
.btn-despesa:focus {
    color: #d2322d;
    border-color: #d2322d;
}

.btn-receita,
.btn-receita:focus {
    color: #0088cc;
    border-color: #0088cc;
}

.btn-categoria.active,
.btn-categoria:hover {
    background-color: #47a447;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-despesa.active,
.btn-despesa:hover {
    background-color: #d2322d;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-receita.active,
.btn-receita:hover {
    background-color: #0088cc;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-lancamento-anexar-doc {
    position: absolute;
    bottom: -19px !important;
    left: 45px !important;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

