<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-featured-primary">
            <header class="panel-heading">
                <div class="panel-actions">
                    <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>
                </div>
                <h3>Dados de Contato</h3>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>Nome Completo:</label>
                        <h4><i class="fa fa-user"></i> Bruno Augusto Guido</h4>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>Telefone:</label>
                        <h4><i class="fa fa-phone"></i> (14) 99702-0666</h4>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>Email:</label>
                        <h4><i class="fa fa-envelope-o"></i> brunoguido5@gmail.com</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
